* {
 font-size: 36pt;
 background-color: yellow;   
}

p.klasa_nieuniwersalna_bucki {
    font-size: 30pt;
    color: purple;
}

.klasa_nieuniwersalna_bucki {
    font-size: 28pt;
    color: green;
}
